*{
    padding: 0;
    margin: 0;
}



/* font family */

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav style */

.nav-header{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    text-decoration: none;
    justify-content: space-between;
}

.name{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
    margin-top: 50px;
}  


.download-Resume{
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    font-size: 20px;
    padding: 17px 24px 17px 24px;
    text-align: center; 
    text-decoration: none;
    margin-bottom: 38px;
    opacity: 0.8;

    margin-top: 38px;
    border-radius: 8px;
} 

/* fast part design */

.about-me{
position: absolute;
width: 1901px;
height: 850px;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
background-image: url(assets/Hero-bg.png);
}

.middle-items{
   margin: 26px 221px;
   height: 795px;
   width: auto;
   text-align: center;
}

.middle-items img{
  margin-top: 40px;
  height: 300px;
  width: auto;
}

.middle-items h1{
 color: rgb(13, 19, 33);
 font-size: 40px;
 font-weight: 800;
line-height: 68px;
margin: 24px 35px;
margin-bottom: 50px;
position: center;
}

.middle-items p{
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 400;
margin: 30px 100px;
margin-bottom: 60px;
opacity: 0.7;
text-align: center;

}

.middle-items button{
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 50px;
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 10px 20px;
}

/* design "Why development" */

.about-development{
    margin: 900px auto 90px;
    height: 1555px ;
    width: 1516px ;
background: rgba(13, 19, 33, 0.03);
}

.in-items{
    margin:106px 129px;
    height: 1443px;
    
}

.fast-box-titel{
    color: rgb(13, 19, 33);
    font-size: 43px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    padding-top: 100px;
}


/* share style */

.share-font{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.share-font-tow{
opacity: 0.8;
font-size: 30px;
font-weight: 700;
margin: 21px 0px;
}

.bottom-design{
box-sizing: border-box;
border: 2px solid rgb(13, 19, 33 );
opacity: 0.7;
margin: 32px 0px;
padding: 10px 20px;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}


.box-display{
    display: flex;
}

/* box titel design */
.descrition{
    margin: 50px 62px 0px 62px ;
    text-align: center;
}


/* box item design */
.box-item-1{
    width: 1130px;
    height: 320px;
    margin:63px ;
    background-color: white;
}

.fast-titel{
    width: 70%;
    position: left;

}

.pragraph-one{
position: left;
margin-top: 50px;
margin-right: 250px;
margin-bottom: 40px;
}

.image-laiyer-one{
    height: 100%;
    position: right;
}
/* box two style */
.box-item-2{
    width: 1130px;
    height: 320px;
    margin:63px ;
    background-color: white;
    display: flex;

}

.image-group-3{
    height: 100%;
    width: 200%;
}

.develop-box-two{
    margin-left: 200px;
    margin-right: 100px;
}

/* box three style */

.box-item-three{
    width: 1130px;
    height: 320px;
    margin:63px ;
    background-color: white;
    display: flex;
}

.group-4{
    height: 100%;
   
}

.part-three{
    margin-right: 200px;
}
/* My Inspiration design */
.my-inspiration{
    height: 1000px;
    width: auto;
    margin: 10px 190px ;
    border:none;
    
}


.Inspiration{color: rgb(13, 19, 33);
    font-size: 43px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    padding-top: 100px;}


    .Inspiration-pragraph{
      text-align: center;
      margin: 50px 150px;
      padding: 0px 200px;
    }
#youtube-video{
    height: 700px;
    width:1515px;
    border: 2px solid black; 
    border-radius: 10px; 
}

.video-position{
    padding: 28px;
}

   /* current terget style */
        .current-terget{
            margin: 151px auto;
            width: 1500px;
            height: 1100px;
        }
        #current-titel{
            text-align: center;
           margin: 30px 220px;
        }
/* share style for current target style */
.current-titel{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: left; 
    margin-top: 30px;  
}

.current-p{
    color: rgb(13, 19, 33);
font-size: 21px;
font-weight: 400;
text-align: left;
margin-top: 25px;
margin-bottom: 35px;
}

.carrent-a{
    color: rgb(13, 19, 33);
    font-size: 21px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}
.html-box{
    height: 400px;
    width: 25%;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 3%;

}

.css-box{
    height: 400px;
    width: 25%;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 3%;

}

.js-box{
    height: 400px;
    width: 25%;
    border-radius: 16px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 3%;

}

    